html {
  font-size: 100px;
  background: url(https://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
}

ul {
  text-decoration: none;
}
.keyboard-container {
  margin: auto;
  height: 100vh;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #ffffff;
  font-size: 100px;
  align-content: center;
}
.key {
  border: #ffffff solid 2px;
  border-radius: 5px;
  height: 85px;
  width: 80px;
  font-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  transition: all 0.07s;
  text-shadow: 0 0 20px #000000;
}
.playing {
  transform: scale(1.1);
  border-color: #ffff00;
  box-shadow: 0 0 10px #ffff00;
}
kbd {
  font-size: 40px;
}

.sound {
  font-size: 12px;
  color: #ffff00;
}

/* ////////////MEDIA QUERIES ////////// */

@media (max-width: 618px) {
  .key {
    height: 70px;
    width: 65px;
  }
}

@media (max-width: 510px) {
  .key {
    height: 60px;
    width: 45px;
  }
}

@media (max-width: 420px) {
  .key {
    margin: 20px 10px 0px 0px;
    height: 90px;
    border: #ffff00 solid 2px;
    color: #ffff00;
  }

  .sound {
    color: white;
    font-size: 15px;
    bottom: 20px;
  }
  .playing {
    transform: scale(1.1);
    border-color: #ffffFF;
    box-shadow: 0 0 10px #ffffff;
  }
}

@media (max-width: 375px) {
  .keyboard-container {
    width: 100%;
    margin: 0px auto;
  }
}
@media (max-width: 327px) {
  .keyboard-container {
    width: 100%;
    margin: 0px;
  }
  .keys {
    height: 70px;
    width: 55px;
  }
}
